body {
    background: #5b8cb1;
    background: -webkit-linear-gradient(to right, #013088, #001e55);
    background: linear-gradient(to right, #013088, #001e55);
}

#show{
    display: block;
    border: none;
    margin-top: 15px;

    background: #16BFFD;
    background: -webkit-linear-gradient(to right, #CB3066, #007792);
    background: linear-gradient(to right, #CB3066, #007792);

    border-radius: 10px;
    padding: 20px;
    color: wheat;
    outline: none;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
#location{
    width: 98.5%; /*проверить ширину ввода*/
    display: block;
    border: none;
    margin-top: 15px;

    border-radius: 10px;
}